/* constants here */
:root {
    --main-background-color: rgb(129, 206, 155);
    --main-text-color: rgb(0,0,0);
    --main-background-image: url(../images/tree.jpg);
    --main-font-family: "Times New Roman", Helvetica, Arial, sans-serif;
    --second-color: rgb(1, 134, 101);
    --third-color: darkgreen;
    --fourth-color: rgb(0, 125, 73);
}
html{
    background-image: var(--main-background-image);
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    margin: 25px 25px 25px 25px;
    padding: 25px 25px 25px 25px;
}
figure{
    float: right;
    text-align: center;
    width: 20%;
    border-radius: 3px;
    border: thin solid var(--third-color);
}
figcaption{
    text-align: center;
}
img{
    max-width: 100%;
    border-radius: 3px;
    float: center;
}
header h1{
    text-align: center;
    color: darkgreen;
}
header h2{
    text-align:center;
}
nav a{
    display: inline-block;
    width: 19%;
}
nav {
    border: thin solid var(--third-color);
    background-color: var(--third-color);
    text-align: center;
}
a:hover{
    background-color: blue;
}
h1 {
    text-transform: uppercase;
}
p{
    text-indent: 20px;
    text-align: left;
}
.planting-tree{
    width: 100;
    float: right;
    text-align: center;
    font-size: xsmall;
}
cite {
    font-size: xxsmall;
}
.forest{
    border-radius: 3%;
    float: left;
}
.deforestation{
    border-radius: 3%;
}
nav a:link{
    background-color: var(--second-color);
    color: #009;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    background-color: var(--fourth-color);
}
