/** INDEX PAGE */
.index-page {
    grid-template-areas: "header" "nav" "main" "footer";
}
.index-page main {
    display: grid;
    grid-template-areas: "what-is"
                        "deforestation"
                        "slash-photo"
                        "timeline-table"
                        "effects"
                        "slashandburn"
                        "slashandburn-effects"
                        "other-effects"
                        "why-trees";
}

.index-page .deforestation {
    width: 90%;
    grid-column: 3;
}
.index-page .deforestation-photo {
    max-width: 100%;
}

.index-page .slash {
    width: 100%;
    justify-self: end;
    grid-row: 2;
    grid-column: 1;
}
.index-page .slash-photo {
    max-width: 100%;
}

.index-page .what-is {
    grid-column: 1 / 4;
}

.index-page .timeline-table {
    grid-column: 1 / 4;
}
.index-page .why-trees {
    grid-column: 1 / 4;
}
.index-page .effects {
    grid-column: 1 / 4;
}
.index-page .slashandburn-effects {
    grid-row: 6;
    grid-column: end;
}
.index-page .other-effects {
    grid-column: 1 / 4;
}

/** DETAIL PAGE */
.detail-page {
    display: grid;
    grid-template-areas: "header" "nav" "main" "footer";
}
.detail-timeline .timeline-section1 {
    grid-template-areas: "timeline-subsection1" "timeline-subsection2";
}
.detail-timeline .timeline-subsection1 {
    grid-row: 1;
}

.detail-timeline .timeline-subsection2 {
    grid-row: 2;
}
.detail-timeline .timeline-section2 {
    grid-template-areas: "timeline-subsection3" "timeline-subsection4";
}
.detail-timeline .timeline-subsection3 {
    grid-row: 3;
}
.detail-timeline .timeline-subsection4 {
    grid-row: 4;
}
.detail-timeline .timeline-section3 {
    grid-template-areas: "timeline-subsection5" "timeline-subsection6";
}
.detail-timeline .timeline-subsection5 {
    grid-row: 5;
}
.detail-timeline .timeline-subsection6 {
    grid-row: 6;
}

/** FORM PAGE */
.form {
    display: grid;
    grid-template-areas: "header" "nav" "main" "footer";
}
.form main {
    grid-template-areas: "the-form" "array" "forest";
}
.form .helpsave {
    grid-row: 1;
    grid-column: 1 / 5;
}
.form .the-form {
    grid-column: 1 / 5;
    grid-row: 2;
    margin-top: 0em;
}
.form .postarray {
    grid-row: 3;
}